//CSS Properties//
:root {
    //Colors//
    --color-primary:        #475dd9;
    --color-primary-2:      #8799ff;
    
    --color-secondary:      #435058;
    --color-secondary-2:    #848c8e;
    --color-secondary-light:#849eae;
    --color-secondary-dark: #aab3ce;

    --color-teal:           #1bf2da;


    --color-grey-light-1:   #f6f6f6;
    --color-grey-light-2:   #ededed;
    --color-grey-light-3:   #dbdada;

    --color-black:      #000;
    --color-white:      #fff;
}

//Font Size
$default-font-size: 1.6rem;
$big-font-size: 2.5rem;