.btn {
    &,
    &:link,
    &:visited {
        //Button Initial Style
        font-size: $default-font-size;
        padding: 1.5rem 4rem;
        -moz-border-radius: .8rem;
        border-radius: .8rem;
        overflow: hidden;   //For the After Color to have Rounded Borders
        letter-spacing: .6rem;
        cursor: pointer;

        //Animation
        position: relative;
        overflow: hidden;   //For the After Color to have Rounded Borders => This doesn't work
        transition: color 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955),
                    border .2s;
        transform-origin: right;
        z-index: 10;
    }

    //Creating the Sliding Animation
    &::after {
        //For Pseudo Properties
        content: "";
        position: absolute;
        //Initial Position of the Animation
        top:0;
        left:0;
        z-index: -2;

        //Initial Dimension of the Animation
        width: 0;
        height: 100%;

        //Animation Behavior
        //It starts with left and the width will slowly fill the button
        transform-origin: left;
        transition: width .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    //Animation Triggers when Hovered After
    &:hover::after {
        width: 100%;
        border-radius: .8rem;
    }

    //Color Variance
    &-white {
        color: var(--color-grey-light-1);
        border: 1px solid var(--color-grey-light-1);

        &:hover {
            color: var(--color-secondary);
            border: 1px solid var(--color-secondary);
        }

        //For Animation Coloring
        &::after {
            background-image: linear-gradient(to right, var(--color-primary), var(--color-teal));
        }

    }

    &-dark {
        color: var(--color-secondary);
        border: 1px solid var(--color-secondary);
        
        &:hover {
            color: var(--color-secondary);
            border: 1px solid var(--color-grey-light-1);
        }

        &::after {
            background-image: linear-gradient(to right, var(--color-primary), var(--color-teal));
        }
    }
}