//Setting up base typography//
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: var(--color-primary);
}

//Links base styles
ul {
    list-style: none;
}

*:link,
*:visited {
    color:inherit;
    text-transform: uppercase;            
    text-decoration: none;      
}

//Specific Link Styles
.navbar {
    .nav {
        &__link:link,
        &__link:visited {
            font-style: italic;
        }
    }
}

//H1 Heading Primary Styles
.heading-primary {
    color: var(--color-primary);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15rem;
    letter-spacing: -.5rem;
    line-height: .8;

    span {
        font-size:7rem;
        font-weight: 300;
    }
}

.heading-secondary {
    color: var(--color-secondary-2);
    font-family: 'adobe-caslon-pro', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 8rem;
    line-height: 1;

    span{
        color: var(--color-primary);
    }
}

//About Section Styles
.section-about {
    .about__info {
        color: var(--color-secondary-2);
        font-size: $big-font-size;
        font-weight: 200; 
    }
}