.section-about {
    background-color: var(--color-grey-light-1);
    margin-top: -20vh;
    padding: 25rem 0;

    display: flex;  
    align-items: center;
    justify-content: center;

    .about__textbox-1 {
        text-align: center;
    }
    .about__textbox-2 {
        width: 42rem;
        margin-left: 20rem;
        .about__info {
            .next-line {
                display: block;
            }
        }
    }
}
